//colors
$very-dark-violet: #1E0D38;
$mega-dark-blue: #051D33;
$very-dark-blue: #0C2B48;
$middle-dark-blue: #11314F;
$dark-blue: #12395D;
$middle-blue-first: #29557C;
$middle-blue-second: #2A577E;
$blue: #0460A9;
$light-blue: #1D8EFA;
$btn-bg: #FAC515;
$grey: #F5F5F5;
$exclusive: #362A0B;
$yellow-gradient: linear-gradient(267.92deg, #FDC93F 15.13%, #F8B032 100.03%);
$blue-gradient: linear-gradient(274.15deg, #2A577E 3.47%, #12395D 66.48%);
$light-blue-gradient: linear-gradient(55.31deg, #F1FDFF 16.56%, #FFFFFF 91.12%);
$dark-blue-gradient: linear-gradient(180deg, #2A577E 0%, #12395D 99.25%);

//fonts
$main-font: 'Lato', sans-serif;
$inner-font: 'Roboto', sans-serif;