@use 'mixins' as *;
@import "variables.scss";
@import "custom-variables";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 62.5%;
  background-color: $grey;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-weight: 400;
  color: $very-dark-violet;
  font-size: 20px;
  line-height: 138.8%;
}

h4 {
  color: white;
  font-weight: 400;
}

.container_bonus {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 366px) {
  .container_bonus {max-width: 320px;}
}
@media (min-width: 576px) {
  .container_bonus {max-width: 540px;}
}
@media (min-width: 768px) {
  .container_bonus {max-width: 720px;}
}
@media (min-width: 992px) {
  .container_bonus {max-width: 960px;}
}
@media (min-width: 1200px) {
  .container_bonus {max-width: 1140px;}
}
@media (min-width: 1400px) {
  .container_bonus {max-width: 1320px;}
}
@media (min-width: 1700px) {
  .container_bonus {max-width: 1440px;}
}

.navbar {
  background: linear-gradient(180deg, #2A577E 0%, #12395D 99.25%);
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.line {
  stroke: $blue;
  stroke-width:0.2rem;
}

.btn {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $mega-dark-blue;
  background: $btn-bg;
  border-radius: 100px;
  width: 175px;
}

.info {
  margin: 0.4rem;
}

* {
  box-sizing: border-box;
}

.ribbon-parent {
  overflow: hidden; /* required */
  position: relative; /* required  for demo*/
  height: 6.3rem;
  width: 100%;
}

.ribbon {
  background: $yellow-gradient;
  position: absolute;
  white-space: nowrap;
  width: 20rem;
  height: 1.8rem;
  padding-top: 0.4rem;
  overflow: hidden;
  left: -33%;
  //right: -14.98%;
  top: 18%;
  //bottom: -7.75%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: center;
}

.ribbon span {
  color: $exclusive;
  font-weight: 600;
  font-size: 0.9rem;
}

.mySwiper {
  width: 100%;
}

@media (min-width: 366px) {
  .mySwiper {width: 320px;}
}
@media (min-width: 576px) {
  .mySwiper {width: 320px;}
  .chevron-right {right: 10px;}
}
@media (min-width: 768px) {
  .mySwiper {width: 100%;}
  }

.swiper-wrapper {
 margin-bottom: 4rem;
}

//.swiper-button-next, .swiper-button-prev  {
//  border: none;
//  background-color: $grey;
//}
//
//.swiper-button-next:after, .swiper-button-prev:after {
//  content: '';
//  color: black;
//  font-weight: 900;
//
//}
.chevron-left {
left: -60px;
}

.chevron-right {
right: 60px;
}

.swiper-pagination-bullet {
  width: 4rem !important;
  height: 1.2rem !important;
  border-radius: 5rem !important;
  border: 0.2rem solid #29557C;
   &-active {
     background: $blue-gradient !important;
   }
}

@media (max-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}
//accordion

.accordion-header {
  border: none;
  text-transform: capitalize;
}

.accordion-button {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 100%;
  color: $blue;
}

.accordion {
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(30rem, 1fr));
  column-gap: 4rem;
  background-color: white;
  box-shadow: none;
}

.item {
  border:none;
  border-bottom: 0.1rem solid $blue;
  padding: 0 0 0.8rem 0;
}

.accordion-item {
  border: none;
  padding: 0;
}

.qa-icon {
  margin-right: 0.8rem;
}
.accordion-button::after {
  display: none;
}

.accordion-button {
  border-color: white;
  background-color: white;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

  .accordion-preview .collapse:not(.show) {
    display: block;
  }
  .accordion-preview .collapse:not(.show) .accordion-body {
    max-height: 8.4rem;
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem;
  }

  .accordion-preview .collapse:not(.show) .accordion-body:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    pointer-events: none; /* so the text is still selectable */
  }
