@use 'mixins' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-weight: 600;
  color: #12395D;
  -webkit-text-stroke: 0.1rem #000000;
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  font-size: 4.2rem;
  line-height: 138.8%;
  text-align: center;
}

h3 {
  font-weight: 400;
  color: #1E0D38;
}

h4 {
  color: white;
  font-weight: 400;
}

.card {
  display: flex;
  justify-content: center;
  width: 24.2rem;
  height: 33.7rem;
  border-radius: 6px 6px 6px 0px;
  border: none;
  background-color: #0C2B48;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #172A4A;
  width: 100%;
  height: 10rem;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: white;
}

.card-type {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: #0460A9;
  margin-top: 2.1rem;
  text-align: center;
  letter-spacing: -0.05em;
}

.card-middle-part {
  display: flex;
  justify-content: center;
}

.line {
  stroke: #0460A9;
  stroke-width:0.2rem;
}

.main-info {
  width: 16.7rem;
}

.big-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 5.4rem;
  color: #0C2B48;
  line-height: 90%;
  margin-bottom: 0;
}

.right-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: right;
  color: #0C2B48;
  margin-bottom: 0;
  line-height: 80%;
}

.additional-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 21px;
  color: #0C2B48;
  margin-bottom: 0;
  line-height: 2.5rem;
}

.bottom-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #0460A9;
  line-height: 16px;
  margin-bottom: 0;
}

.btn {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #051D33;
  background: #FAC515;
  border-radius: 100px;
  width: 175px;
  //margin-left: 1.8rem;
}

.flag {
  padding-top: 0.3rem;
  padding-right: 0.3rem;
  text-align: end;
}

.card-bottom-no-radius{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1.3rem;
  margin: 1.2rem 0 0 0;
}

.card-container {
  border: 2px dashed #1D8EFA;
  border-radius: 0px 0px 80px 0px;
  width: 24.2rem;
  height: 23.7rem;
  background-color: white;
}

.info {
  margin: 0.6rem;
}

* {
  box-sizing: border-box;
}

.ribbon-parent {
  overflow: hidden; /* required */
  position: relative; /* required  for demo*/
  height: 6.3rem;
  width: 100%;
}

.ribbon {
  background: linear-gradient(267.92deg, #FDC93F 15.13%, #F8B032 100.03%);
  position: absolute;
  white-space: nowrap;
  width: 20rem;
  height: 1.8rem;
  padding-top: 0.4rem;
  overflow: hidden;
  left: -33%;
  //right: -14.98%;
  top: 18%;
  //bottom: -7.75%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: center;
}

.ribbon span {
  color: #362A0B;
  font-weight: 600;
  font-size: 0.9rem;
}
