$breakpoints: (
        "xs": 366px,
        "sm" : 576px,
        "md" : 768px,
        "lg" : 992px,
        "xl" : 1200px,
        "xxl" : 1400px,
        "xxxl" : 1700px
);

$dir: left;
$dir-negative: right;

// Css Vars
:root {
  --math: 1;
  //Colors Start
  --white-color: white;
  --black-color: black;
  // Colors End
  --header-height: 72px;
  --small-column-dekstop-width: 302px;
  --header-offset: 30px;

  //pagination
  --swiper-pagination-color: #29557C;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-size: 1.2rem;
  --swiper-pagination-bullet-width: 4rem;
  --swiper-pagination-bullet-height: 1.2rem;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 1.2rem;
//header
  --bs-navbar-color: $dark-blue-gradient;

//accordion
  --bs-accordion-active-bg: white;
  --bs-accordion-border-color: white;
  --bs-accordion-border-width: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-button-focus-border-color: white;

  .admin-bar {
    --header-offset: 32px;
  }
  .cbn {
    --blue-shaddow: 0px 6px 20px 0px #0460A92E;
    --reg-shaddow: 2px 4px 5px 0px #00000033;
  }
}

html[dir="rtl"] {
  --math: -1;
}

//Color Classes
.highlight {
  color: var(--white-color-3);
}
